.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake
analysis/spatial/archives
analysis/spatial/geodata
analysis/spatial/input/
analysis/spatial/output
analysis/spatial/grids
analysis/spatial/HbS
analysis/spatial/figures
analysis/spatial/HbS_vs_piel
analysis/spatial/hspf
analysis/spatial/images
analysis/spatial/pf
analysis/spatial/piel
analysis/spatial/summary
analysis/spatial/outputgavin
analysis/spatial/codeold
analysis/haplotypes/outputs
analysis/haplotypes/logs
analysis/spatial/.Rproj.user
analysis/spatial/simulated
analysis/spatial/code/africa
analysis/spatial/code/HbS
analysis/spatial/code/archive
analysis/spatial/output/figures/figure_1/manuscript
analysis/spatial/output/figures/figure_2/manuscript
logs
*.o
*.so
*.dll
*.DS_Store
tmp
.DS_Store