.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake
analysis/spatial/geodata
analysis/spatial/output
analysis/spatial/codeold
analysis/haplotypes/outputs
analysis/haplotypes/logs
analysis/spatial/.Rproj.user
analysis/spatial/code/africa
